{% extends 'store/index.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center my-5">
  <div class="card bg-dark" style="width: 600px;">
      <div class="card-body">
          <h2 class="card-title text-center text-white">Login</h2>
          <form method="post">
              {% csrf_token %}
              <div class="form-group d-flex flex-column">
                  <label for="username" class="form-label text-white">Username</label>
                  <input type="text" name="username"  id="username" required>
              </div>
              <div class="form-group my-3 d-flex flex-column">
                  <label for="password" class="form-label text-white">Password</label>
                  <input type="password" name="password" id="password" required>
              </div>
              <button type="submit" class="btn btn-warning btn-block">Login</button>
          </form>
          <p class="text-center mt-2 text-white">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
      </div>
  </div>
</div>
{% endblock %}